@import '../../module';

.login-wrapper{
    @include flex-constructor(column nowrap, stretch, center);
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 50px;

    %general-text-style{
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
    }

    %general-input-style{
      outline: none !important;
      border: none !important;
    }

    & a {
      @extend %general-text-style;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;

      &:focus {
        outline: none !important;
      }

      &:hover {
        text-decoration: none;
        color: #a64bf4;
      }
    }

    & p {
      @extend %general-text-style;
    }

    & input, textarea {
      @extend %general-input-style;

      &::-webkit-input-placeholder { color: #adadad;}
      &:-moz-placeholder { color: #adadad;}
      &::-moz-placeholder { color: #adadad;}
      &:-ms-input-placeholder { color: #adadad;}

      &:focus {
        border-color: transparent !important;

        &-webkit-input-placeholder { color:transparent; }
        &:-moz-placeholder { color:transparent; }
        &::-moz-placeholder { color:transparent; }
        &:-ms-input-placeholder { color:transparent; }
      }
    }

    & button {
      @extend %general-input-style;
      @extend %cursor-pointer;
      background: transparent;
    }

    & iframe {
      border: none !important;
    }

    .close-icon-bar{
      position: absolute;
      top: 10px;
      right: 10px;

      & > svg{
        @extend %cursor-pointer;
      }
    }

    .login-nav{
      @include block-width(100%);
      @include flex-constructor(column nowrap, center, center);

      .logo-bar{
        @include flex-constructor(row nowrap, center, center);
        color: #fff;
        padding: 20px;
        background-color: rgba(31, 31, 31, 0.8);
      }

      .ul-bar{
        @include block-width();
        @include flex-constructor(row nowrap, space-between, stretch);
        margin: 30px 0;
        list-style: none;
        
        & > li {
          @include block-width(50%);

          & > a{
            @include flex-constructor(row nowrap, center, center);
            text-decoration: none;
            display: block;
            font-size: 18px;
            letter-spacing: 2px;
            transition: .3s linear;
            color: #000;
          }
        }

        .active{
            background: rgba(0,0,0,.3);
        }
      }
    }
    
    .social-icon-bar{
      @include flex-constructor(row nowrap, center, center);
      
      .login100-social-item {
        @include flex-constructor(row nowrap, center, center);
        font-size: 25px;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 5px;
    
        &:hover{
            color: #fff;
            background-color: #333333;
        }
    }
  }
}