.filter-item-bar{
    display: flex;
    font-family: "futura-pt", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.12;
    flex-flow: column nowrap;
    justify-content: stretch;
    width: 100%;
    border-bottom: 1px solid #ddd;
    transition: 0.5s heigth linear;
    height: auto;
    border-radius: 0;
    background-color: #eee;
    position: relative;
    z-index: 2;
}
.filter-item-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    color: #666;
    border: none;
    outline: none;
    position: relative;
    z-index: 5;
    background-color: #fff;
}
.filter-item-text{

}
.filter-item-icon{
    margin: 0 20px 0 10px;
}