@import '../../module';

.filter-item-bar {
    @include flex-constructor(column nowrap, stretch);
    @include block-width(100%);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.12;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: #eee;
    position: relative;
    z-index: 903;

    &>button {
        @include flex-constructor(row nowrap, flex-start, center);
        @include active-text();
        @include block-width();
        padding: 20px;
        border: none;
        outline: none;
        position: relative;
        z-index: 905;
        background-color: #fff;

        &>svg {
            margin-right: 20px;
        }
    }
}