@import '../../module';

%general-style {
    @include block-width(100%);
    padding: 10px;
}

.answer-popup-wrap {
    @include block-width(60%);
    @include flex-constructor(column nowrap, stretch);
    position: absolute;
    transition: 0.4s linear;
    visibility: visible;
    height: 200px;
    background-color: #eee;
    border-top: 1px solid #eee;
    bottom: 0;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

    &>span {
        @include flex-constructor(row nowrap, center);
        @extend %general-style;
        background-color: lightseagreen;
    }

    &>ul {
        @extend %general-style;
        list-style-type: none;
        overflow-y: auto;

        &>li {
            @include block-width(100%);
            margin-bottom: 5px;
        }
    }
}