@import '../../module';

.answer-popup-wrap{
    @include block-width(60%);
    position: absolute;
    transition: max-height 0.3s linear, visibility 0.3s linear;
    background-color: #eee;
    border-top: 1px solid #eee;
    bottom: 0;
    max-height: 300px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    visibility: visible;

    & > span {
        @include flex-constructor(row nowrap, center);
        @include block-width(100%);
        position: relative;
        padding: 10px;
        background-color:lightseagreen;
    }

    & > ul {
        @include block-width(100%);
        max-height: 150px;
        position: relative;
        padding: 10px;
        list-style-type: none;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;

        & > li{
            @include block-width(100%);
            margin-bottom: 5px;
        }
    }
}