@import "../../module";

.main-wrapper {
    @include flex-constructor(column nowrap, flex-start, center);
    @include block-width(100%);
    margin-top: 130px;

    .main-bar-wrapper {
        @include flex-constructor(row nowrap, center, flex-start);
        @include block-width(1100px, 1100px);
        margin-top: 20px;

        .main-content {
            @include block-style;
            @include block-width(800px);
            @include flex-constructor(column nowrap, stretch, center);
            position: relative;
            margin-left: 20px;

            .circle-box {
                @include block-width();
                @include flex-constructor(column nowrap, center, center);
                height: 500px;

                &>span {
                    @include cursor-pointer();
                    font-size: 2em;
                    font-weight: bold;
                    user-select: none;
                }
            }
        }

        .filter-bar {
            @include block-style;
            @include flex-constructor(column nowrap);
            @include block-width(280px);
            padding: 10px 0 20px 0;
        }
    }

    .quick-filters {
        @include block-style;
        @include flex-constructor(row nowrap, flex-start, flex-start, center);
        padding: 10px;
        width: 1100px;
        transition: 0.3s height linear;
    }

    .quick-fi-deployed {
        height: 70px;
    }
}