.filters-list-wrap{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    position: relative;
    z-index: 4;
}
.list-collapsed{
    visibility: hidden;
    transition: 0.3s linear;
    height: 0;
}
.list-deployed{
    visibility: visible;
    transition: 0.3s linear;
    height: 200px;
}
.ul-list {
    position: relative;
    z-index: 1;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
