@import '../../module';

.filters-list-wrap{
    @include flex-constructor(column nowrap);
    @include block-width(100%);
    transition: visibility 0.3s linear, max-height 0.3s linear;
    visibility: visible;
    position: relative;
    z-index: 903;
    max-height: 200px;


    .filters-list-header{
        @include flex-constructor(row nowrap, space-between, center);
        margin: 10px;
        z-index: 903;

        & > button{
            border: none;
            padding: 10px;
        }

        & > span{
            padding: 10px;
        }
    }

    .ul-list {
        @include block-width();
        position: relative;
        padding: 0 10px 10px 10px;
        z-index: 903;
        list-style-type: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;

        & > li{
            @include block-width(100%);
            margin-bottom: 5px;
        }
    }
}