@import '../../module';

.filters-list-wrap{
    @include flex-constructor(column nowrap);
    @include block-width(100%);
    transition: visibility 0.3s linear, height 0.4s linear;
    visibility: visible;
    height: 200px;


    .filters-list-header{
        @include flex-constructor(row nowrap, space-between, center);
        margin: 10px;

        & > button{
            border: none;
            padding: 10px;
        }

        & > span{
            padding: 10px;
        }
    }

    .ul-list {
        @include block-width();
        padding: 0 10px 10px 10px;
        list-style-type: none;
        overflow-y: auto;
        overflow-x: hidden;
        
        & > li{
            @include block-width(100%);
            margin-bottom: 5px;
        }
    }
}