@import '../../module';

.header-wrapper {
    @include flex-constructor(row nowrap, center);
    @include block-width(100%);
    position: fixed;
    z-index: 1005;
    background-color: #1f1f1f;
    top: 0;
    left: 0;

    .navbar {
        @include flex-constructor(row nowrap, space-between);
        @include block-width(1100px, 1100px);

        .logo-link {
            border: solid 5px #ff4435;
            margin: 10px 0 10px 0;
            padding: 5px;
            height: 60px;
            text-align: center;

            img {
                width: 100px;
                height: 40px;
            }
        }

        .menu-main {
            @include flex-constructor(row nowrap, flex-end);
            list-style: none;

            %text-dec {
                display: block;
                text-decoration: none;
                line-height: 80px;
                padding: 0 20px;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: bold;
                transition: .3s linear;
                color: #fff;

                &:hover {
                    background: rgba(0, 0, 0, .3);
                }

                &:focus {
                    border: 0;
                    outline: none !important;
                }
            }

            .active {
                background: rgba(0, 0, 0, .3);
            }

            span {
                @extend %text-dec;
                @include cursor-pointer();
            }

            a {
                @extend %text-dec;
            }
        }
    }
}

.geo-bar {
    @include flex-constructor(row nowrap, center, center);
    @include block-width(100%);
    position: fixed;
    z-index: 1003;
    top: 80px;
    left: 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
    background: rgba(31, 31, 31, 0.75);
    padding: 5px 0;

    .city-select {
        @include flex-constructor(row nowrap, flex-start, center);
        @include block-width(1100px, 1100px);
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;

        .location-icon {
            margin-right: 5px;
            font-size: 16px;
        }

        .city-name {
            font-size: 14px;
            @include cursor-pointer();
        }
    }
}