@import '../../module';

.carousel-container {
    @include block-width(100%, 100%);
    border: 1px solid red;
    position: relative;
    overflow: hidden;

    .carousel-items {
        @include block-width();
        height: 100px;
        position: relative;


        .carousel-arrow {
            text-shadow: 1px 1px 1px #fff;
            z-index: 100;
            line-height: 50px;
            text-align: center;
            position: absolute;
            top: 0;
            font-size: 3em;
            cursor: pointer;
            user-select: none;
        }

        .arrow-right {
            right: 0;
        }


        .arrow-left {
            left: 0;
        }
    }

    .carousel-dots {
        z-index: 100;
        @include flex-constructor(row nowrap, center, center);

        .carousel-dot {
            font-size: 1.5em;
            cursor: pointer;
            text-shadow: 1px 1px 1px #fff;
            user-select: none;
        }
    }
}