@import '../../module';

.carousel-container {
    @include block-width(100%, 100%);
    @include flex-constructor(column nowrap, center, center);
    padding: 20px 0 10px 0;
    overflow: hidden;

    .carousel-panel {
        @include block-width();
        @include flex-constructor(row nowrap, space-between);
        margin-bottom: 20px;
        height: 65px;

        .carousel-items {
            position: relative;
            width: 80%;
        }

        .carousel-arrow-container {
            @include flex-constructor(row nowrap, center, center);
            width: 10%;
            background-color: #fff;
            z-index: 100;

            .carousel-arrow {
                @include cursor-pointer();
                @include arrow();
                line-height: 50px;
                font-size: 3em;
                user-select: none;
            }

        }
    }

    .carousel-dots {
        @include flex-constructor(row nowrap, center, center);

        .carousel-dot {
            padding: 2px;
            font-size: 1em;
            cursor: pointer;
            text-shadow: 1px 1px 1px #fff;
            user-select: none;
        }
    }
}