@import '../../module';

.footer-wrapper {
    @include flex-constructor(row nowrap, center);
    @include block-width(100%);
    background-color: #1f1f1f;
    margin-top: 50px;

    .footer-content {
        @include flex-constructor(row nowrap, space-between);
        @include block-width(1100px, 1100px);
        padding: 20px 0 50px 0;

        .footer-item {
            @include flex-constructor(column nowrap, center);
            width: 200px;
            color: #fff;

            &>h4 {
                font-weight: bold;
                user-select: none;
                font-size: 18px;
                margin: 10px 0;
            }

            &>ul {
                list-style: none;

                li {
                    font-size: 15px;
                }
            }
        }
    }
}