.filter-li-element-wrap {
    font-family: "Trebuchet MS", "Lucida Sans";
    border-bottom: 1px solid #efefef;
}
.filter-box-wrap{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.fi-hidden-checkbox{
    position: absolute;
    left: 0;
    height: inherit;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    margin-bottom: 5px;
}
.fi-label-wrap{
    font-family: "futura-pt","sans-serif";
    width: 100%;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    color: #2d2d2d;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.12;
}