@mixin flex-constructor ($flow: row nowrap, $jusCont: flex-start, $alItems: stretch, $alContent:stretch) {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-flow: $flow;
    justify-content: $jusCont;
    align-items: $alItems;
    align-content: $alContent;
}

@mixin block-width($width: inherit, $min-width: 0, $max-width: none) {
    width: $width;
    min-width: $min-width;
    max-width: $max-width;
}

@mixin block-style() {
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db,
        0 0 0 1px #e3e4e8;
    background-color: #fff;
}

@mixin main-box-style() {
    @include flex-constructor(column nowrap, flex-start, center);
    @include block-width(100%);
    margin-top: 130px;
    min-height: calc(100vh - 130px);
}

@mixin cursor-pointer() {
    cursor: default;

    &:hover {
        cursor: pointer;
    }
}

@mixin arrow() {
    @include cursor-pointer();
    color: rgba(0, 0, 0, 0.7);

    &:hover {
        color: rgba(0, 0, 0, 1);
    }
}

.collapsed {
    height: 0;
    visibility: hidden;
}