@import '../../module';

.active-filters-wrap{
    @include flex-constructor(column nowrap);
    @include block-width(100%);
    transition: visibility 0.3s linear, max-height 0.3s linear;
    visibility: visible;
    position: relative;
    z-index: 903;
    max-height: 200px;
    background-color: #eee;

    & > ul{
        @include block-width();
        position: relative;
        padding: 10px;
        z-index: 903;
        list-style-type: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;

        & > li{
            @include block-width();
            margin-bottom: 5px;
        }
    }

    & > span{
        @include block-width();
        padding: 20px;
        text-align: center;
        background-color: #fff;
    }
}