@import '../../module';

.active-filters-wrap{
    @include flex-constructor(column nowrap);
    @include block-width(100%);
    transition: visibility 0.3s linear, height 0.4s linear;
    position: relative;
    z-index: 905;
    visibility: visible;
    height: 200px;
    background-color: #eee;

    & > ul{
        @include block-width();
        padding: 10px;
        list-style-type: none;
        overflow-y: auto;
        overflow-x: hidden;

        & > li{
            @include block-width();
            margin-bottom: 5px;
        }
    }

    & > span{
        @include block-width();
        padding: 20px;
        text-align: center;
        background-color: #fff;
    }
}